.nav-logo
{
    border-radius: 1.5rem;
    box-shadow: 0px 5px 15px gray;
    margin-right: 15px;
    
}
.navbar-brand
{
    color: black!important;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-right
{
    padding-left: 65%;
}
.navbar
{
    background-color: whitesmoke!important;
}
.welcome-container
{
    background-color: whitesmoke;
}
.profile-container
{
    background-color: whitesmoke;
    margin-top: 1rem;
    padding: 2rem 0rem;
    box-shadow: 0rem 1rem 2rem gray;
}
.profile-edit-btn
{
    margin-top: 1rem;
    background-color: #a79990;
    color: whitesmoke;
}
.product-edit-btn
{
    background-color: #a79990;
    color: whitesmoke;
}
.product-create-btn
{
    background-color: #a79990;
    color: whitesmoke;
}
.create-file-input
{
    background-color: #a79990;
    padding: 0.5rem;
    color: whitesmoke;
}
.product-container
{
    background-color: whitesmoke;
}
body
{
    background-color: #a79990;
}

@media only screen and (max-width: 600px)
{
    .nav-right
    {
        padding-left: 0%;
    }
    .profile-container
    {
        padding: 1rem;
        width: 90vw;
    }
}